<appSettings>

  <!--Contensis target client settings-->
  <add key="contensisCmsRootUrl" value="https://cms-site.cloud.contensis.com"/>
  <add key="contensisApiClientId" value="xxxxxxxx-1111-2222-3333-aaaaaa123456"/>
  <add key="contensisApiSharedSecret" value="xxxxx11111ccccc2222vvvv444333e-sssss33333rrrt6yhgfd4321sdc56hb4-wsxz23rfvbnmk8765tgv4dw21azx5tu7"/>


</appSettings>